
.bg-dark {
    background-color: rgb(56, 56, 56);
}

.text-white {
    color: rgb(218, 214, 214);
}

.productImage {
    border-radius: 18px;
    padding: 12px;
    width: calc(100% - 24px);
}

.productButtons {
    color: rgb(218, 214, 214);
    border-color: rgb(218, 214, 214);
}

.shoppingCart {
    position: fixed;
    right: 12px;
    top: 0px;
}